<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Logout", logout_path %></h1>
    </li>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <%= form_for :beer, url: '/beers/show', method: :get do |f| %>
            <%= f.text_field :name, placeholder: 'Find A Beer' %>
        </div>
        <div class="large-4 small-3 columns">
          <%= f.submit 'Search', class: 'alert button expand' %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</nav>
<div class="beers_background">
<div class="large-12 large-centered columns">
  <br>
  <h3 class="title-text">Hi <%= current_user.name %>. You have <%= current_user.beers.count %> beers in your list.</h3>
  <br>
</div>
<div class="large-10 large-centered columns">
  <ul class="no-bullet">
    <% current_user.beers.each do |beer| %>
    <h5><li><%= link_to beer.name, edit_beer_path(beer.id), class: "bubble" %><%= " ABV: #{beer.abv}% - IBU: #{beer.ibu} - Rating: #{beer.rating}"%></li>
    </h5>
    <% end %>
  </ul>
</div>
</div>
