<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Logout", logout_path %></h1>
    </li>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <%= form_for :beer, url: '/beers/show', method: :get do |f| %>
            <%= f.text_field :name, placeholder: 'Find A Beer' %>
        </div>
        <div class="large-4 small-3 columns">
          <%= f.submit 'Search', class: 'alert button expand' %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Filter by Beer Type</a>
        <ul class="dropdown">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </li>
    </ul>
    <ul class="left">
    </ul>
  </section>
</nav>
<div class="large-12 large-centered columns">
  <br>
  <h4>Hi <%= current_user.name %>. You have <%= current_user.beers.count %> beers in your list.</h4>
  <br>
</div>
<div class="large-10 large-centered columns">
  <ul>
    <% current_user.beers.each do |beer| %>
    <h5><li><%= link_to beer.name, edit_beer_path(beer.id) %><%= " - ABV: #{beer.abv}% - IBU: #{beer.ibu} - Rating: #{beer.rating}"%></li>
    </h5>
    <% end %>
  </ul>
</div>
