<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="buttons">
      <li class="divider"></li>
      <li><%= link_to "Back to BeerBank", beers_path, class: "button" %></li>
      <li class="divider"></li>
      <li>
      <%= form_for(:beer, url: beers_path) do |f| %>
      <%= f.hidden_field :name, value: @beer['name'] %>
      <%= f.hidden_field :abv, value: @beer['abv'] %>
      <%= f.hidden_field :ibu, value: @beer['ibu'] %>
      <%= f.hidden_field :description, value: @beer['description'] %>
      <%= f.submit "Add to List", class: "button" %>
      <% end %>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>

<div class="large-12 columns">
  <br>
  <h3><%= "#{@beer["name"]} - ABV: #{@beer["abv"]}% - IBU: #{@beer["ibu"]}" %></h3>
</div>
<br>
<br>
<br>
<div>
  <div class="large-9 large-centered columns">
    <h3><%= "#{@beer["brewery"]}" %></h3>
    <h3><%= "#{@beer["description"]}" %></h3>
  </div>
</div>
